.shadow{
	box-shadow:1px 1px 1px #ddd;
}
.round(@size:4rem){
	width:@size;
	height:@size;
	border-radius:50%;
}
html,body,#app,.wrap{
	height:100%;
}
body{
	font-size:62.5%;
}
@tagsHeight:4rem;
/* index页面 */
.v-link-active{
	color:#000;
}
.wrap{
	font-size:14px;
}
iframe{
	border:none;
	width:100%;
	height:70%;
	.shadow;
}
.tabs{
	width:100%;
	display:table;
	li{
		display:block;
		width:25%;
		height:@tagsHeight;
		display:table-cell;
		line-height:@tagsHeight;
		text-align:center;
		color:#888;
	}
}
.personal{
	.head{
		.round();
	}
}
@media (min-width: 768px) {
	iframe{
		width:90%;
	}
	.tabs{
		width:@tagsHeight;
		float:left;
		li{
			width:100%;
			display:block;
		}
	}
}
